.btn-container{
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 50px;
    width: 250px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 14px;
    border-radius: 4px;
    border: 0;
    font-weight: 700;
    align-items: center;
}

.btn-left {
    margin-right: 10px;
}

.btn-rigth {
    margin-left: 10px;
}